[user]
	name = Desmond Cheong Zhi Xi
	email = desmondcheongzx@gmail.com
	signingkey = desmondcheongzx@gmail.com
[core]
	editor = emacs -nw
[alias]
	unstage = reset HEAD
	last = log -1 HEAD
	summary = log -15 --oneline --decorate --graph --all

[rerere]
	enabled = true
[gpg]
	program = /usr/local/bin/gpg2
[commit]
	gpgsign = true
