[user]
	name = Desmond Cheong
	email = desmondcheongzx@gmail.com
[core]
	editor = vim
[credential]
	helper = store
[alias]
	unstage = reset HEAD
	last = log -1 HEAD
	summary = log -15 --oneline --decorate --graph --all

[rerere]
	enabled = true
